a {  
    text-decoration: none;
}

.disable-events { 
    pointer-events: none 
}

.position-relative {
    position: relative;
}

.single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.v-card__text h1,
.v-card__text h2,
.v-card__text h3,
.v-card__text span:not(.v-btn__content){
  color: var(--v-text-base) !important;
}

.loading-overlay {
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
}